body{
    background: url(./love.jpg) no-repeat center center fixed;
    
}

img{
    height:30rem;
    
}
.container{
    /* border:1px solid black; */
    height:90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.btn{
   position: relative; 
   /* top: 205px; */
   /* right:200px */
   left: 140px;
   top:40px;
   width: 200px;
   background: brown;
   border:none;
   color: white;
   
}
.btn:hover{
    background: rgb(88, 10, 10);
    color: white;
}
.btn:active{
    transform: scale(.9);
   
}
@media(max-width:500px) {
    .btn-smile{
    left:35px;
}
    
}
@media(max-width:330px) {
    .btn-smile{
        left:15px;
}
    
}


